<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="PngMergerGUIFrame">
		<title>PngMerger</title>
		<icon>D:\github\pngmerger\PngMergerGUI\pngmerger.ico</icon>
		<size>1383,675</size>
		<minsize>1380,700</minsize>
		<maxsize>1393,705</maxsize>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>4</cols>
			<rows>4</rows>
			<vgap>0d</vgap>
			<hgap>0d</hgap>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" subclass="wxScrolledWindow" variable="leftPanel" member="yes">
					<size>321,628</size>
					<style>wxTAB_TRAVERSAL|wxVSCROLL|wxHSCROLL</style>
					<object class="wxStaticBox" name="ID_STATICBOX1" variable="settingStaticBox" member="yes">
						<label>Setting</label>
						<pos>0,5</pos>
						<size>303,850</size>
					</object>
					<object class="wxChoice" name="ID_CHOICE1" variable="dataFmtChoice" member="yes">
						<content>
							<item>Cocos2d</item>
						</content>
						<pos>130,40</pos>
						<size>144,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxChoice" name="ID_CHOICE3" variable="textureFmtChoice" member="yes">
						<content>
							<item>Png (.png)</item>
						</content>
						<pos>130,104</pos>
						<size>144,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxChoice" name="ID_CHOICE4" variable="imageChoice" member="yes">
						<content>
							<item>RGBA</item>
							<item>RGBA8888</item>
						</content>
						<pos>130,136</pos>
						<size>144,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxChoice" name="ID_CHOICE5" variable="maxWidChoice" member="yes">
						<content>
							<item>2048</item>
							<item>1024</item>
							<item>512</item>
							<item>256</item>
						</content>
						<pos>144,288</pos>
						<size>128,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxChoice" name="ID_CHOICE2" variable="maxHgtChoice" member="yes">
						<content>
							<item>2048</item>
							<item>1024</item>
							<item>512</item>
							<item>256</item>
						</content>
						<pos>144,320</pos>
						<size>128,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="dataFmtLabel" member="yes">
						<label>Data Format</label>
						<pos>24,42</pos>
						<size>68,32</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT3" variable="datafileLabel" member="yes">
						<label>Data File</label>
						<pos>24,74</pos>
						<size>88,17</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT4" variable="textureFmtLabel" member="yes">
						<label>Texture Format</label>
						<pos>24,106</pos>
						<size>88,17</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT5" variable="imageFmtLabel" member="yes">
						<label>Image Format</label>
						<pos>24,138</pos>
						<size>88,17</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT6" variable="textureFileLabel" member="yes">
						<label>Texture File</label>
						<pos>24,170</pos>
						<size>88,17</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT7" variable="borderPadLabel" member="yes">
						<label>Border Padding</label>
						<pos>24,223</pos>
						<size>88,17</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT8" variable="shapePadLabel" member="yes">
						<label>Shape Padding</label>
						<pos>24,256</pos>
						<size>88,17</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT9" variable="maxWidLbl" member="yes">
						<label>Max Width</label>
						<pos>24,289</pos>
						<size>88,17</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="maxHgtLabel" member="yes">
						<label>Max Height</label>
						<pos>24,321</pos>
						<size>88,17</size>
						<font>
							<size>11</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="datafilePathText" member="yes">
						<value>Data File Path...</value>
						<pos>130,72</pos>
						<size>104,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="textureFilePathText" member="yes">
						<value>Texture File Path...</value>
						<pos>130,168</pos>
						<size>104,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxButton" name="ID_BUTTON2" variable="dataFileLocButton" member="yes">
						<label>...</label>
						<pos>242,72</pos>
						<size>32,22</size>
						<handler function="OndataFileLocButtonClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON1" variable="textureFileLocButton" member="yes">
						<label>...</label>
						<pos>242,168</pos>
						<size>32,22</size>
						<handler function="OntextureFileLocButtonClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxStaticLine" name="ID_STATICLINE2" variable="setting1Line" member="yes">
						<pos>24,205</pos>
						<size>248,2</size>
					</object>
					<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="borderPadCtrl" member="yes">
						<value>0</value>
						<pos>144,222</pos>
						<size>129,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="shapePadCtrl" member="yes">
						<value>0</value>
						<pos>144,256</pos>
						<size>129,22</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl1" member="yes">
						<value>Text</value>
						<pos>32,368</pos>
					</object>
				</object>
				<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="leftAndRightLineSep" member="yes">
					<size>2,625</size>
					<fg>wxSYS_COLOUR_GRADIENTACTIVECAPTION</fg>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
				</object>
				<flag>wxTOP|wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" subclass="wxScrolledWindow" variable="rightPanel" member="yes">
					<size>862,628</size>
					<style>wxTAB_TRAVERSAL|wxVSCROLL|wxHSCROLL</style>
					<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="loadPngBitmap" member="yes">
						<bitmap>D:\github\pngmerger\PngMergerGUI\PngAlgorithm\pngTest.png</bitmap>
						<pos>2,2</pos>
						<size>1024,1024</size>
					</object>
				</object>
				<flag>wxTOP|wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxListView" name="ID_LISTVIEW1" variable="fileListView" member="yes">
					<size>200,630</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<help>Put Single Png File Tips</help>
					<style>wxLC_LIST</style>
					<handler function="OnListView1BeginDrag" entry="EVT_LIST_BEGIN_DRAG" />
					<handler function="OnfileListViewDeleteItem" entry="EVT_LIST_DELETE_ITEM" />
					<handler function="OnfileListViewDeleteAllItems" entry="EVT_LIST_DELETE_ALL_ITEMS" />
					<handler function="OnfileListViewItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
					<handler function="OnfileListViewItemDeselect" entry="EVT_LIST_ITEM_DESELECTED" />
					<handler function="OnfileListViewKeyDown" entry="EVT_LIST_KEY_DOWN" />
					<handler function="OnListView1InsertItem" entry="EVT_LIST_INSERT_ITEM" />
				</object>
				<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="homeMenuBar" member="no">
			<object class="wxMenu" variable="fileOpMenu" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="fileOpenMenuItem" member="yes">
					<label>Open</label>
					<help>Open image what you selected</help>
					<handler function="OnfileOpenMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="saveFileMenuItem" member="yes">
					<label>Save as</label>
					<help>Save current image file with other name</help>
					<handler function="OnsaveFileMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="quitMenuItem" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="editMenu" member="yes">
				<label>Edit</label>
			</object>
			<object class="wxMenu" variable="publishMenu" member="yes">
				<label>Merge</label>
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="addDirMenuItem" member="yes">
					<label>Add directory</label>
					<handler function="OnaddDirMenuItemSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="separateMenu" member="yes">
				<label>Separate</label>
			</object>
			<object class="wxMenu" variable="saveSettingMenu" member="yes">
				<label>Setting config</label>
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="saveSetting" member="yes">
					<label>Save setting</label>
					<help>save curent setting to local config file</help>
					<handler function="OnsaveSettingSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="deleteSettingMenuItem" member="yes">
					<label>Revert to default</label>
					<help>delete all setting have saved in local file</help>
					<handler function="OndeleteSettingMenuItemSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="helpMenu" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="aboutMenuItem" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="bottomStatusBar" member="yes">
			<fields>3</fields>
			<widths>-1,400,180</widths>
			<styles>wxSB_NORMAL,wxSB_NORMAL,wxSB_NORMAL</styles>
			<exstyle>wxWS_EX_BLOCK_EVENTS</exstyle>
		</object>
	</object>
</wxsmith>
